<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.hero.project.mapper.InitDBMapper">
    <!-- ============插入 -->
    <insert id="batchInsertSuper" useGeneratedKeys="true" keyProperty="id">
        insert into t_super (userName, password, remark, createTime)
        values
        <foreach collection="superList" item="item" index="index" separator=",">
            ( #{item.userName}, #{item.password}, #{item.remark}, getDate() )
        </foreach>
    </insert>
    <insert id="batchInsertOrgan" useGeneratedKeys="true" keyProperty="id">
        insert into t_organ (name, organType, address, email, linkman, linkmanPhone, remark, createTime)
        values
        <foreach collection="organList" item="item" index="index" separator=",">
            ( #{item.name}, #{item.organType}, #{item.address}, #{item.email}, #{item.linkman}, #{item.linkmanPhone},
            #{item.remark}, getDate() )
        </foreach>
    </insert>
    <insert id="batchInsertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (userName, password, remark, createTime)
        values
        <foreach collection="userList" item="item" index="index" separator=",">
            ( #{item.userName}, #{item.password}, #{item.remark}, getDate() )
        </foreach>
    </insert>
    <insert id="batchInsertRole" useGeneratedKeys="true" keyProperty="id">
        insert into t_role (roleCode, roleName, remark, createTime)
        values
        <foreach collection="roleList" item="item" index="index" separator=",">
            (#{item.roleCode}, #{item.roleName}, #{remark}, getDate())
        </foreach>
    </insert>


    <!-- ============查询 -->
    <select id="checkDBExist" resultType="java.util.Map">
        select *
        From master.dbo.sysdatabases
        where name = #{dbName}
    </select>
    <select id="createDB">
        ${sql}
    </select>
    <select id="checkTableExist" resultType="java.util.Map">
        select name
        from ${sysobjectsFullTableName}
        where id = object_id(CONCAT(#{dbName}, '.dbo.', #{tableName}))
    </select>
    <select id="createTable">
        ${value}
    </select>

</mapper>