<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.hero.project.mapper.InitDBMapper">
    <!-- ============插入 -->
    <insert id="batchInsertSuper" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (userName, password, remark)
        values
        <foreach collection="superList" item="item" index="index" separator=",">
                ( #{item.userName}, #{item.password}, #{item.remark})
        </foreach>
    </insert>
    <insert id="batchInsertOrgan" useGeneratedKeys="true" keyProperty="id">
        insert into t_organ (name, organType, address, email, linkman, linkmanPhone, remark)
        values
        <foreach collection="organList" item="item" index="index" separator=",">
            ( #{item.name}, #{item.organType}, #{item.address}, #{item.email}, #{item.linkman}, #{item.linkmanPhone},
                #{item.remark})
        </foreach>
    </insert>
    <insert id="batchInsertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user (userName, password, remark)
        values
        <foreach collection="userList" item="item" index="index" separator=",">
                ( #{item.userName}, #{item.password}, #{item.remark})
        </foreach>
    </insert>
    <insert id="batchInsertRole" useGeneratedKeys="true" keyProperty="id">
        insert into t_role (roleCode, roleName)
        values
        <foreach collection="roleList" item="item" index="index" separator=",">
                ( #{item.roleCode}, #{item.roleName})
        </foreach>
    </insert>
    <insert id="batchInsertMenu" useGeneratedKeys="true" keyProperty="id">
        insert into t_menu (menuName, parentId, parentName, orderNum, path, component, menuType, perms, icon)
        values
        <foreach collection="menuList" item="item" index="index" separator=",">
            ( #{item.menuName}, #{item.parentId}, #{item.parentName}, #{item.orderNum}, #{item.path}, #{item.component}, #{item.menuType}, #{item.perms}, #{item.icon})
        </foreach>
    </insert>
    <insert id="batchInsertUserRole">
        insert into t_user_role( userId, roleId )
        values
        <foreach collection="userRoleList" item="item" index="index" separator=",">
                ( #{item.userId}, #{item.roleId})
        </foreach>
    </insert>
    <insert id="batchInsertRoleMenu">
        insert into t_role_menu ( roleId, menuId )
        values
        <foreach collection="roleMenuList" item="item" index="index" separator=",">
                ( #{item.roleId}, #{item.menuId})
        </foreach>
    </insert>
    <insert id="batchInsertSemester" useGeneratedKeys="true" keyProperty="id">
        insert into t_semester ( startDate, endDate )
        values
        <foreach collection="semesterList" item="item" index="index" separator=",">
                ( #{item.startDate}, #{item.endDate})
        </foreach>
    </insert>


    <!-- ============查询 -->
    <select id="createDB">
        CREATE DATABASE ${dbName} CHARACTER SET 'utf8mb4' COLLATE 'utf8mb4_general_ci'
    </select>

    <select id="checkDBExist" resultType="java.util.Map">
        SELECT *
        from information_schema.SCHEMATA
        WHERE SCHEMA_NAME = #{dbName}
    </select>
    <select id="checkTableExist" resultType="java.util.Map">
        select *
        from information_schema.tables
        where table_schema = #{dbName}
          and table_name = #{tableName}
    </select>
    <select id="createTable">
        ${value}
    </select>

</mapper>