<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.hero.project.mapper.MenuMapper">
    <insert id="add">
        insert into sys_menu (name, parentId, parentName, orderNum, path, component, type, perms, icon, createBy)
        values (#{name}, #{parentId}, #{parentName}, #{orderNum}, #{path}, #{component}, #{type}, #{perms},
                #{icon}, #{createBy})
    </insert>
    <update id="update">
        update sys_menu
        <set>
            <if test="name != null and menu != ''">
                name = #{name},
            </if>
            <if test="parentId != null">
                parentId = #{parentId},
            </if>
            <if test="parentName != null and parentName != ''">
                parentName = #{parentName},
            </if>
            <if test="orderNum != null">
                orderNum = #{orderNum},
            </if>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="component != null and component != ''">
                component = #{component},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="delFlag != null">
                delFlag = #{delFlag},
            </if>
            <if test="perms != null and perms != ''">
                perms = #{perms},
            </if>
            <if test="icon != null and icon != ''">
                icon = #{icon},
            </if>
            updateBy = #{updateBy}
        </set>
        where
        id = #{id}
    </update>
    <delete id="del">
        delete
        from sys_menu
        where id = #{id}
    </delete>

    <select id="getRoleMenuByRoles" resultType="com.han.hero.project.domain.Menu">
        select sys_menu.* from sys_menu,sys_role_menu
        where sys_menu.delFlag = 0
        and sys_menu.id = sys_role_menu.id
        and sys_role_menu.roleId in
        <foreach collection="roles" item="role" index="index" separator="," open="(" close=")">
            #{role.id}
        </foreach>
    </select>
    <select id="selectRoleMenuByRoleId" resultType="com.han.hero.project.domain.RoleMenu">
        select *
        from sys_role_menu
        where roleId = #{roleId}
    </select>
    <select id="selectByMenuId" resultType="com.han.hero.project.domain.Menu">
        select *
        from sys_menu
        where id = #{id}
          and delFlag = 0
    </select>
    <select id="selectByParentMenuId" resultType="com.han.hero.project.domain.Menu">
        select *
        from sys_menu
        where parentId = #{id}
          and delFlag = 0
    </select>
    <select id="list" resultType="com.han.hero.project.domain.Menu">
        select * from sys_menu
        <where>
            delFlag = 0
            <if test="name != null and name != ''">
                and name like CONCAT ('%', #{name}, '%')
            </if>
            <if test="parentName != null and parentName != ''">
                and parentName like CONCAT ('%', #{parentName}, '%')
            </if>
            <if test="path != null and path != ''">
                and path like CONCAT ('%', #{path}, '%')
            </if>
            <if test="component != null and component != ''">
                and component like CONCAT ('%', #{component}, '%')
            </if>
            <if test="type != null and type != ''">
                and type like CONCAT ('%', #{type}, '%')
            </if>
            <if test="delFlag != null">
                and delFlag = #{delFlag}
            </if>
            <if test="perms != null and perms != ''">
                and perms like CONCAT ('%', #{perms}, '%')
            </if>
        </where>
    </select>
    <select id="all" resultType="com.han.hero.project.domain.Menu">
        select *
        from sys_menu
        order by parentId, orderNum
    </select>
</mapper>