<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.hero.project.mapper.OperLogMapper">

    <insert id="insertOperLog">
        insert into sys_oper_log(title, businessType, method, requestMethod, operName, operUrl, operIp, operLocation,
                                 operParam, jsonResult, status, errorMsg)
        values (#{title}, #{businessType}, #{method}, #{requestMethod}, #{operName}, #{operUrl}, #{operIp},
                #{operLocation}, #{operParam}, #{jsonResult}, #{status}, #{errorMsg})
    </insert>
</mapper>