<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.hero.project.mapper.OperLogMapper">

    <insert id="insertOperLog">
        insert into t_oper_log(title, businessType, method, requestMethod, operName, deptName, operUrl, operIp,
                               operLocation, operParam, jsonResult, state, errorMsg, operTime)
        values (#{title}, #{businessType}, #{method}, #{requestMethod}, #{operName}, #{deptName},
                #{operUrl}, #{operIp}, #{operLocation}, #{operParam}, #{jsonResult}, #{state}, #{errorMsg}, getDate())
    </insert>
</mapper>