<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.hero.project.mapper.RoleMapper">

    <insert id="add">
        insert into t_role (name, orderNum, createBy)
        values (#{name}, #{orderNum}, #{createBy})
    </insert>
    <update id="update">
        update t_role
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="orderNum != null">
                orderNum = #{orderNum},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            updateBy = #{updateBy}
        </set>
        where roleId = #{id}
    </update>
    <delete id="del">
        delete
        from t_role
        where roleId = #{roleId}
    </delete>


    <select id="selectByUserId" resultType="com.han.hero.project.domain.Role">
        select t_role.*
        from t_role,
             t_user_role
        where t_user_role.userId = #{userId}
          and t_user_role.roleId = t_role.id
    </select>
    <select id="list" resultType="com.han.hero.project.domain.Role">
        select * from t_role
        <where>
            <if test="name != null and name != ''">
                and name like CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
</mapper>