<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.han.hero.project.mapper.SemesterMapper">
    <update id="updateStatus">
        update t_semester
        set openState = #{openStatus}
        where id = #{id}
    </update>

    <select id="list" resultType="com.han.hero.project.domain.Semester">
        select *
        from t_semester
        <where>
            delFlag = 0
            <if test="openState != null">
                and openState = #{openState}
            </if>
        </where>
    </select>

</mapper>