<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.han.hero.project.mapper.UserMapper">
    <insert id="insertUser">
        insert into t_user (username, password)
        values (#{userName}, #{password})
    </insert>


    <select id="selectById" resultType="com.han.hero.project.domain.User">
        select *
        from t_user
        where id = #{id}
    </select>
    <select id="selectByUserName" resultType="com.han.hero.project.domain.User">
        select *
        from t_user
        where userName = #{userName}
    </select>
    <select id="getUserPermissions" resultType="com.han.hero.project.domain.Menu">
        SELECT t_menu.*
        FROM t_user,
             t_user_role,
             t_role_menu,
             t_menu
        WHERE t_user.id = #{id}
          AND t_user.id = t_user_role.id
          AND t_user_role.id = t_role_menu.id
          AND t_role_menu.id = t_menu.id
    </select>
    <select id="countByUserName" resultType="java.lang.Integer">
        select count(id)
        from t_user
        where userName = #{userName}
    </select>
    <select id="selectUserRoleById" resultType="com.han.hero.project.domain.UserRole">
        select *
        from t_user_role
        where id = #{id}
    </select>


</mapper>